# Dune build directory
_build/

# Compiled interface / object files
*.cmi
*.cmo
*.cmx
*.o
*.a
*.so

# Executables
*.exe
*.out

# OCaml native files
*.cmxa
*.cmxs

# Dune cache
.dune/

# Temporary files from editors
*~
*.swp
*.swo
*.bak
*.tmp

# MacOS system files
.DS_Store

# Windows system files
Thumbs.db

# Graphviz files
*.dot

projet_ouverture/*.pdf